In [1]:
# import everything here
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"D:\Developer\DepressionDetection\labels\Detailed_PHQ8_Labels.csv")
df

,Participant_ID,PHQ_8NoInterest,PHQ_8Depressed,PHQ_8Sleep,PHQ_8Tired,PHQ_8Appetite,PHQ_8Failure,PHQ_8Concentrating,PHQ_8Moving,PHQ_8Total
0,300,0,0,1,0,1,0,0,0,2
1,301,0,0,1,1,1,0,0,0,3
2,302,1,1,0,1,0,1,0,0,4
3,303,0,0,0,0,0,0,0,0,0
4,304,0,1,1,2,2,0,0,0,6
...,...,...,...,...,...,...,...,...,...,...
214,698,3,3,0,3,2,3,2,3,19
215,702,0,0,0,0,0,0,0,0,0
216,703,1,1,2,1,2,1,0,0,8
217,707,1,0,0,0,0,0,0,0,1
218,713,0,0,0,0,0,0,0,0,0

In [3]:
# Define function to label depression severity based on PHQ-8Total score
def label_depression_severity(score):
    if score >= 0 and score <= 4:
        return 'Minimal depression'
    elif score >= 5 and score <= 9:
        return 'Mild depression'
    elif score >= 10 and score <= 14:
        return 'Moderate depression'
    elif score >= 15 and score <= 19:
        return 'Moderate severe depression'
    elif score >= 20 and score <= 24:
        return 'Severe depression'
    else:
        return 'Invalid score'  # Handle invalid scores

# Apply the label_depression_severity function to create labels
df['Depression_severity'] = df['PHQ_8Total'].apply(label_depression_severity)

df.head()

,Participant_ID,PHQ_8NoInterest,PHQ_8Depressed,PHQ_8Sleep,PHQ_8Tired,PHQ_8Appetite,PHQ_8Failure,PHQ_8Concentrating,PHQ_8Moving,PHQ_8Total,Depression_severity
0,300,0,0,1,0,1,0,0,0,2,Minimal depression
1,301,0,0,1,1,1,0,0,0,3,Minimal depression
2,302,1,1,0,1,0,1,0,0,4,Minimal depression
3,303,0,0,0,0,0,0,0,0,0,Minimal depression
4,304,0,1,1,2,2,0,0,0,6,Mild depression

In [4]:
df['Depression_severity'].value_counts()

Depression_severity
Minimal depression            103
Mild depression                51
Moderate depression            34
Moderate severe depression     23
Severe depression               8
Name: count, dtype: int64

In [5]:
# Filter rows where Depression_severity is 'Severe depression'
severe_depression_data = df[df['Depression_severity'] == 'Severe depression']

# participant with severe depression
severe_patient = severe_depression_data['Participant_ID']
print(severe_patient)

8      308
11     311
21     321
45     346
47     348
61     362
123    426
208    680
Name: Participant_ID, dtype: int64

In [6]:
train_split = pd.read_csv(r"D:\Developer\DepressionDetection\labels\train_split.csv")
train_split.head()

   Participant_ID   Gender  PHQ_Binary  PHQ_Score  PCL-C (PTSD)  PTSD Severity
0             302     male           0          4             0             28
1             303   female           0          0             0             17
2             304   female           0          6             0             20
3             305     male           0          7             0             28
4             307  female            0          4             0             23

In [7]:
train_split['PHQ_Binary'].value_counts()

PHQ_Binary
0    126
1     37
Name: count, dtype: int64

In [8]:
depressed = train_split[train_split['PHQ_Binary'] == 1]
depressed.head()

,Participant_ID,Gender,PHQ_Binary,PHQ_Score,PCL-C (PTSD),PTSD Severity
5,308,female,1,22,1,67
6,309,male,1,15,1,74
8,311,female,1,21,1,70
15,319,male,1,13,1,53
24,330,male,1,12,1,46

In [9]:
depressed_patient = depressed['Participant_ID'].tolist()
print(depressed_patient)

[308, 309, 311, 319, 330, 332, 337, 338, 339, 345, 346, 348, 351, 353, 354, 355, 359, 362, 367, 372, 376, 377, 384, 389, 405, 410, 414, 421, 426, 440, 453, 461, 641, 673, 677, 680, 684]